<div>
	<h1>Deck List</h1>
	<%= @deck.each do |card| %>
		<strong>Name:</strong> <%= card.name %>
	    <strong>Description:</strong> <%= card.description %>
	    <strong>Converted Mana Cost:</strong> <%= card.cmc %>
	    <strong>Set:</strong> <%= card.mtg_set.name %>
	    <br>
	    <%= form_tag('/list_card', method: :delete) do %>
	    	<%= hidden_field(:mtg_card, :id, value: card.id)%>
	    	<%= hidden_field(:card_list, :id, value: @deck_list.id)%>
	    	<%= submit_tag("Remove #{card.name}") %>
	    <% end %>
	    <br>
	<% end %>
</div>

<div>
	<h1>Favorite List</h1>
	<%= @favorites.each do |card| %>
		<strong>Name:</strong> <%= card.name %>
	    <strong>Description:</strong> <%= card.description %>
	    <strong>Converted Mana Cost:</strong> <%= card.cmc %>
	    <strong>Set:</strong> <%= card.mtg_set.name %>
	    <br>
	    <%= form_tag('/list_card', method: :delete) do %>
	    	<%= hidden_field(:mtg_card, :id, value: card.id)%>
	    	<%= hidden_field(:card_list, :id, value: @favorite_list.id)%>
	    	<%= submit_tag("Remove #{card.name}") %>
	    <% end %>
	    <br>
	<% end %>
</div>
