<div>
  <%= form_tag('/mtg_card', method: :get) do %>
    <%= label_tag(:card_name, 'Enter Card Name') %>
    <%= text_field_tag(:card_name) %>
    <%= submit_tag('Search') %>
  <% end %>
</div>


<div>
	<%= @mtg_cards.each do |card| %>
	    <strong>Name:</strong> <%= card.name %>
	    <strong>Description:</strong> <%= card.description %>
	    <strong>Set:</strong> <%= card.mtg_set.name %>
	<% end %>
</div>
